NODE_ENV=development

SERVER_HOST=127.0.0.1
SERVER_PORT=16000
SERVER_SECRET_KEY=secret_key

POSTGRES_AUTH_USER=PROJECT_NAME-admin
POSTGRES_AUTH_PWD=123456
POSTGRES_DATABASE=PROJECT_NAME-db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_OPTIONS_POOL_MAX=5
POSTGRES_OPTIONS_POOL_MIN=1
POSTGRES_OPTIONS_POOL_IDLE=10000
POSTGRES_OPTIONS_POOL_ACQUIRE=60000

REDIS_AUTH_USER=
REDIS_AUTH_PWD=
REDIS_DATABASE=
REDIS_HOST=localhost
REDIS_PORT=6379

FORMIDABLE_UPLOAD_DIR=
FORMIDABLE_MAX_FILE_SIZE=209715200
