NODE_ENV=development

SERVER_HOST=127.0.0.1
SERVER_PORT=16000
SERVER_SECRET_KEY=secret_key

POSTGRES_AUTH_USER=user
POSTGRES_AUTH_PWD=pwd
POSTGRES_DATABASE=node-project-maker-db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_OPTIONS_POOL_MAX=5
POSTGRES_OPTIONS_POOL_MIN=1
POSTGRES_OPTIONS_POOL_IDLE=10000
POSTGRES_OPTIONS_POOL_ACQUIRE=60000

FORMIDABLE_UPLOAD_DIR=
FORMIDABLE_MAX_FILE_SIZE=209715200

RES_URL_PREFIX=http://127.0.0.1:18000
