NODE_ENV=development

SERVER_HOST=127.0.0.1
SERVER_PORT=16000
SERVER_SECRET_KEY=secret_key

POSTGRES_AUTH_USER=user
POSTGRES_AUTH_PWD=pwd
POSTGRES_DATABASE=node-project-maker-db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_OPTIONS_POOL_MAX=5
POSTGRES_OPTIONS_POOL_MIN=1
POSTGRES_OPTIONS_POOL_IDLE=10000
POSTGRES_OPTIONS_POOL_ACQUIRE=60000

REDIS_AUTH_USER=
REDIS_AUTH_PWD=
REDIS_DATABASE=
REDIS_HOST=localhost
REDIS_PORT=6379

FORMIDABLE_UPLOAD_DIR=
FORMIDABLE_DEFAULT_BUCKET_NAME=default
FORMIDABLE_MAX_FILE_SIZE=209715200

LOGGER_BASE=logs
LOGGER_MAX_LOG_SIZE=209715200
LOGGER_DAYS_TO_KEEP=30
LOGGER_DEFAULT_LEVEL=debug
LOGGER_APP_LEVEL=debug
LOGGER_REDIS_LEVEL=debug
LOGGER_POSTGRES_LEVEL=debug

RES_URL_PREFIX=http://192.168.1.107:18000